<p>$member.getMemberId()</p>
<p>$member.getMemberName()</p>
<p>$member.getMemberAge()</p>
<p>$member.getDescription()</p>


<a href="/members/new">Add another member</a>
<a href="/members">All Members</a>
